

.redRectangle{
  -webkit-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
/* box-shadow: 3px 3px 4px 2px grey;
  */
  
  box-shadow: 0 16px 30px -5px rgba(0, 0, 0, 1);
  position:fixed;
  background-color:rgb(210,0,0);
  left: 250px;
  bottom: -200px;
  
    height:50%;/*change to 150% iin jquery*/
   width:30%;
}


.card{ 
 
  background-color: white;
  /*box-shadow: -3px 3px 4px 2px grey;
  */
  box-shadow: 0 16px 30px -5px rgba(0, 0, 0, 1);
}


.heading-icon{
  font-size: 3rem;
  margin:2rem;
   padding:2rem;
  box-shadow: -3px 3px 4px 1px grey;
  
  border-radius:100%;
   color: white;
  background-color:  rgb(210,0,0);
 
  
}


.heading-icon-small{
  font-size: 1.5rem;
  margin:1.5rem;
   padding:1.5rem;
  box-shadow: -3px 3px 4px 1px grey;
  
  border-radius:100%;
   color: white;
  background-color:  rgb(210,0,0);
 
  
}




.heading{
   
  font-size: 1.7rem;
  margin:1rem;
 text-decoration: none;
  width:100%;
  padding:1rem;
  box-shadow: -3px 3px 4px 2px grey;
  border-radius:7px;
   color: white;
  background-color:  rgb(210,0,0);
 
 
}

.button{

  font-size: 1.7rem;
  margin:1rem;
 text-decoration: none;
  width:100%;
  padding:1rem;
  box-shadow: -3px 3px 4px 2px grey;
  border-radius:7px;
   color: white;
  background-color:  rgb(210,0,0);
  border:1px solid;
  border-left:3px solid  rgb(210,0,0);
    border-bottom:3px solid  rgb(210,0,0);
  

}

.button:hover{
  
  color: rgb(210,0,0);
  background-color: white;
  border:1px solid rgb(210,0,0);
  border-left:3px solid  rgb(210,0,0);
  border-bottom:3px solid  rgb(210,0,0);

  
}
